name: Simple CI

on:
  push:
    branches:["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Echo welcome message
      run:
        echo "Welcome to the cours"
